.container-man {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-photo {
  width: 80%;
}
.man-photos {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: #00000030 solid 2px;
  padding: 20px 0;
}
.man-photos img {
  border-radius: 10px;
}
.man-photos label {
  margin-top: 10px;
  font-weight: bold;
}
