.banner {
  height: 100vh;
  background-color: #002748;
  background-size: cover;
  background-attachment: fixed;
}
.description-container {
  font-size: 2rem;
  background-color: transparent;
  text-align: center;
  padding: 10px;
}
